<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.minhlq.mybatis.mapper.ArticleFavoriteMapper">
    <resultMap id="articleFavorite" type="vn.com.minhlq.model.ArticleFavorite">
        <result column="articleFavoriteArticleId" property="articleId" />
        <result column="articleFavoriteUserId" property="userId" />
    </resultMap>

    <insert id="insert">
        INSERT INTO article_favorite(article_id, user_id) VALUES (#{articleFavorite.articleId}, #{articleFavorite.userId})
    </insert>

    <delete id="delete">
        DELETE FROM article_favorite WHERE article_id = #{favorite.articleId} AND user_id = #{favorite.userId}
    </delete>

    <select id="find" resultMap="articleFavorite">
        SELECT
            AF.article_id AS articleFavoriteArticleId,
            AF.user_id AS articleFavoriteUserId
        FROM
            article_favorite AF
        WHERE 
            AF.article_id = #{articleId}
            AND AF.user_id = #{userId}
    </select>
</mapper>