<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.minhlq.mybatis.mapper.ArticleMapper">
    <resultMap id="article" type="vn.com.minhlq.model.Article">
        <id column="articleId" property="id" />
        <result column="articleUserId" property="userId" />
        <result column="articleTitle" property="title" />
        <result column="articleSlug" property="slug" />
        <result column="articleDescription" property="description" />
        <result column="articleBody" property="body" />
        <result column="articleCreatedAt" property="createdAt" />
        <result column="articleUpdatedAt" property="updatedAt" />
        <collection property="tags" ofType="arraylist" resultMap="tag" />
    </resultMap>

    <resultMap id="tag" type="vn.com.minhlq.model.Tag">
        <id column="tagId" property="id" />
        <result column="tagName" property="name" />
    </resultMap>

    <insert id="insert">
        INSERT INTO article(id, slug, title, description, body, user_id, created_at, updated_at)
        VALUES (
          #{article.id},
          #{article.slug},
          #{article.title},
          #{article.description},
          #{article.body},
          #{article.userId},
          #{article.createdAt},
          #{article.updatedAt}
        )
    </insert>

    <insert id="insertTag">
        INSERT INTO tags(id, name) VALUES (#{tag.id}, #{tag.name})
    </insert>

    <insert id="insertArticleTagRelation">
        INSERT INTO article_tags(article_id, tag_id) VALUES (#{articleId}, #{tagId})
    </insert>

    <update id="update">
        UPDATE article
        <set>
            <if test="article.title != ''">title = #{article.title},</if>
            <if test="article.title != ''">slug = #{article.slug},</if>
            <if test="article.description != ''">description = #{article.description},</if>
            <if test="article.body != ''">body = #{article.body}</if>
        </set>
        WHERE id = #{article.id}
    </update>

    <delete id="delete">
        DELETE FROM article WHERE id = #{id}
    </delete>

    <sql id="selectArticle">
        SELECT
        A.id AS articleId,
        A.slug AS articleSlug,
        A.title AS articleTitle,
        A.description AS articleDescription,
        A.body AS articleBody,
        A.user_id AS articleUserId,
        A.created_at AS articleCreatedAt,
        A.updated_at AS articleUpdatedAt,
        T.id AS tagId,
        T.name AS tagName
        FROM article A
        LEFT JOIN article_tags AT ON A.id = AT.article_id
        LEFT JOIN tags T ON T.id = AT.tag_id
    </sql>

    <select id="findById" resultMap="article">
        <include refid="selectArticle" />
        WHERE A.id = #{id}
    </select>

    <select id="findTag" resultType="vn.com.minhlq.model.Tag">
        SELECT id, name FROM tags WHERE name = #{tagName}
    </select>

    <select id="findBySlug" resultMap="article">
        <include refid="selectArticle" />
        WHERE A.slug = #{slug}
    </select>
</mapper>