<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vn.com.minhlq.mybatis.mapper.CommentMapper">
    <resultMap id="comment" type="vn.com.minhlq.model.Comment">
        <id column="commentId" property="id" />
        <result column="commentBody" property="body" />
        <result column="commentUserId" property="userId" />
        <result column="commentArticleId" property="articleId" />
        <result column="commentCreatedAt" property="createdAt" />
    </resultMap>

    <insert id="insert">
        INSERT INTO comment(id, body, user_id, article_id, created_at, updated_at)
        values (
            #{comment.id},
            #{comment.body},
            #{comment.userId},
            #{comment.articleId},
            #{comment.createdAt},
            #{comment.createdAt}
        )
    </insert>

    <delete id="delete">
        DELETE FROM comment WHERE id = #{id}
    </delete>

    <select id="findById" resultMap="comment">
        SELECT
            id AS commentId,
            body AS commentBody,
            user_id AS commentUserId,
            article_id AS commentArticleId,
            created_at AS commentCreatedAt
        FROM comment
        WHERE id = #{id} AND article_id = #{articleId}
    </select>
</mapper>